{% extends 'dashboard/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 mb-4">
            <div class="d-flex d-row gap-3"> 
                <a href="{% url 'new-post' hood.id %}" class="nav-link">Add Post</a>
                <a href="{% url 'hood-posts' hood.id %}" class="nav-link">Posts</a>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ hood.hood_name }}</h5>
                    <p class="card-text">
                        {{ hood.hood_location }}
                    </p>
                    <h5>Businesses in {{ hood.hood_name }}</h5>
                    {% for business in businesses %}
                    <p class="card-text">
                        {{ business.business }}
                    </p>
                    <p class="card-text">
                        {{ business.email }}
                    </p>
                    {% endfor %}

                    <h5>Emergency Contacts in {{ hood.hood_name }}</h5>
                    {% for contact in contacts %}
                    <p class="card-text">
                        {{ contact.emergency_name }}
                    </p>
                    <p class="card-text">
                        {{ contact.number }}
                    </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>    
{% endblock %}