{% extends 'dashboard/base.html' %}

{% block content %}
    <h4>List of neighborhoods.</h4>
    {% for hood in hoods %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex d-row gap-3">
                                <a href="{% url 'hood-detail' hood.id %}">
                                    <h5 class="card-title">{{ hood.hood_name }}</h5>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}